:root {
	--clr-primary-400: hsl(245, 75%, 52%);
	--clr-primary-200: hsl(245, 75%, 65%);
	--clr-secondary-100: hsl(225, 100%, 94%);

	--clr-neutral-100: hsl(225, 100%, 98%);
	--clr-neutral-400: hsl(224, 23%, 55%);
	--clr-neutral-900: hsl(223, 47%, 23%);

	--fw-regular: 500;
	--fw-bold: 700;
	--fw-extra-bold: 900;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	font-family: "Red Hat Display", sans-serif;
	font-weight: var(--fw-regular);
	background-image: url("images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-color: var(--clr-secondary-100);
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkout-card {
	background-color: white;
	max-width: 325px;
	border-radius: 1rem;
	overflow: hidden;
	color: var(--clr-neutral-400);
}

.checkout-card__content {
	display: grid;
	padding: 1.5rem;
	gap: 1em;
	text-align: center;
}

.checkout-card__title {
	font-weight: var(--fw-extra-bold);
	color: var(--clr-neutral-900);
}

.checkout-card__plan {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1rem;
	margin: 1rem auto;
	border-radius: 1rem;

	background-color: var(--clr-neutral-100);
}

.checkout-card__plan > div {
	display: flex;
}

.checkout-card__plan h2 {
	color: var(--clr-neutral-900);
	font-weight: var(--fw-bold);
	font-size: 16px;
}

.checkout-card__plan a {
	color: var(--clr-primary-400);
	font-size: 14px;
	font-weight: var(--fw-bold);
}

.product-icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: url("images/icon-music.svg");
	margin-right: 1rem;
}

.button {
	cursor: pointer;
	text-decoration: none;
	background-color: var(--clr-primary-400);
	color: white;
	font-weight: var(--fw-bold);
	padding: 0.5rem 1.5rem;
	border-radius: 0.75rem;
	border: none;
}

.cancel-order {
	color: var(--clr-neutral-400);
	font-weight: var(--fw-bold);
	text-decoration: none;
	justify-self: center;
	width: fit-content;
}

.checkout-card__plan a:is(:hover, :focus) {
	color: var(--clr-primary-200);
}

.button:is(:hover, :focus) {
	background-color: var(--clr-primary-200);
}

.cancel-order:is(:hover, :focus) {
	color: var(--clr-neutral-900);
}
